body {
	background: #ccc;
	color: #333;
	padding: 50px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	margin: 0;
}
h1 {
	font-family: 'Yellowtail', cursive;
	font-size: 2.5em;
	color: #6FA2A6;
	border-top: 2px dotted #6FA2A6;
	border-bottom: 2px dotted #6FA2A6;
}